{% import "forms.twig" as f %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {#<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans' rel='stylesheet' type='text/css'>#}
  <!-- PACE js -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('pace-theme-minimal.css') }}">
  <script src="{{ asset('pace.min.js') }}" data-pace-options='{ "ajax": false, "restartOnRequestAfter": false }'></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ asset('materialize.css') }}">
  {% block css %}{% endblock %}
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="grey lighten-4">
  <!--[if lt IE 8]>
  <p class="browsehappy alert alert-warning alert-dismissable">
  <i class="fa fa-warning"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Estás usando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/?locale=es" target="_blank" class="alert-link">actualiza tu navegador</a> para mejorar tu experiencia de uso.</p>
  <![endif]-->
  <header>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="{{ urlFor('home') }}" class="brand-logo">Rally TIC</a>
        <ul class="right hide-on-med-and-down">
          {% if user.id is defined %}
            <li><a href="{{ urlFor('logout') }}"><i class="material-icons left">power_settings_new</i>Salir</a></li>
          {% else %}
          <li><a href="javascript:void(0);" class="about"><i class="material-icons left">more_vert</i>Acerca de</a></li>
          {% endif %}
          <!--<li><a href="#" id="aLogin" name="aLogin"><i class="material-icons left">account_circle</i>Iniciar</a></li>
          <li><a href="#!" id="aRegister" name="aRegister"><i class="material-icons left">person_add</i>Registrate</a></li>-->
        </ul>
        <ul id="nav-mobile" class="side-nav">
          {% if user.id is defined %}
            <li><a href="{{ urlFor('logout') }}">Salir</a></li>
          {% else %}
          <li><a href="javascript:void(0);" class="about">Acerca de</a></li>
          {% endif %}
          <!--<li><a href="#!"><i class="material-icons left">person_add</i>Registrate</a></li>-->
          <!--<li><a href="#"><i class="material-icons left">assistant_photo</i>Eventos</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href="#">Participantes</a></li>-->
        </ul>
      </div>
      {% if user.id is defined %}
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3 m3"><a class="active" href="#tab1">Inicio</a></li>
              <li class="tab col s3 m3"><a href="#tab2">Eventos</a></li>
              <li class="tab col s3 m3"><a href="#tab3">Actividades</a></li>
              <li class="tab col s3 m3"><a href="#tab4">Participantes</a></li>
            </ul>
          </div>
        </div>
      {% endif %}
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">{% block content %}{% endblock %}</div>
    </div>
  </main>
  <footer class="page-footer light-blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Rally TIC</h5>
          <p class="grey-text text-lighten-4">Programación Móvil & Programación Web Avanzada <br> Verano 2015 </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © {{ now|date('Y') }} Rally TIC
      </div>
    </div>
  </footer>
  <!-- JS -->
  <script src="{{ asset('jquery.min.js') }}"></script>
  <script src="{{ asset('materialize.js') }}"></script>
  <script src="{{ asset('init.js') }}"></script>
  {% block js %}{% endblock %}
</body>
</html>
{# compile 'com.getbase:floatingactionbutton:1.3.0' #}
