{% extends 'base.twig' %}
{% block css %}
  <style>
    .map {
      display: block;
      width: 100%;
      height: 500px;
    }
  </style>
  <link rel="stylesheet" href="{{ asset('DateTimePicker.css') }}">
{% endblock %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <br><br>
    <h4 class="header">Gesti칩n y dise침o de eventos</h4>
    <div class="col s12 m12 z-depth-0 white">
    <div class="row">
      <div class="col s12 m12">
        <ul class="tabs">
          <li class="tab col s3 m3"><a class="active" href="#event1">Evento</a></li>
          <li class="tab col s3 m3"><a href="#event2">Actividades</a></li>
          <li class="tab col s3 m3"><a href="#event3">Equipos</a></li>
          <li class="tab col s3 m3"><a href="#event4">Ruta</a></li>
        </ul>
      </div>
      <div id="event1" class="col s12 m12 indigo lighten-4">
        <div class="row">
          <br>
          <div class="col offset-s1 s10 offset-m1 m10 z-depth-1 white">
            <form id="formEvent" name="formEvent" action="{{ urlFor('new-event-post') }}">
              <div class="row">
                <div class="input-field col s5 offset-s1 m5 offset-m1">
                  <input id="name" name="name" type="text" class="validate">
                  <label for="name">Nombre</label>
                </div>
                <div class="input-field col s2 offset-s1 m2 offset-m1">
                  <input id="date" name="date" type="text" data-field="date" class="validate">
                  <label for="date">Fecha</label>
                </div>
                <div class="input-field col s2 m2">
                  <input id="hour" name="hour" type="text" data-field="time" class="validate">
                  <label for="hour">Hora</label>
                </div>
              </div>
              <div id="dtBox"></div>
              <div class="row">
                <div class="input-field col s10 offset-s1 m10 offset-m1">
                  <textarea id="description" name="description" class="materialize-textarea"></textarea>
                  <label for="description">Descripci칩n</label>
                </div>
              </div>
              <div class="center">
                <a id="btnCancelEvent" class="waves-effect red lighten-1 btn">Cancelar</a>
                <a id="btnNewEvent" class="waves-effect green lighten-1 btn">Aceptar</a>
              </div>
              <br>
            </form>
          </div>
          <br><br>
        </div>
      </div>
      <div id="event2" class="col s12 m12 indigo lighten-4">
        <div class="row">
          <br>
          <div class="col offset-s1 s10 offset-m1 m10 z-depth-1 white">
            <form id="formActivity" name="formActivity" action="{{ urlFor('add-activity-post') }}">
              <div class="row">
                <br>
                <div class="col s10 offset-s1 m10 offset-m1">
                  <label>Eventos disponibles</label>
                  <select id="event_id_act" name="event_id" class="browser-default">
                    <option value="" selected>Selecciona una opcion ...</option>
                    {% for ev in events %}
                      <option value="{{ ev.id }}">{{ ev.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col s6 offset-s1 m6 offset-m1">
                  <label>Actividades disponibles</label>
                  <select id="activity_id" name="activity_id" class="browser-default">
                    <option value="" selected>Selecciona una opcion ...</option>
                    {% for ac in activities %}
                      <option value="{{ ac.id }}">{{ ac.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              <div class="col s4 m4">
                <br>
                <a id="btnAddActivity" class="waves-effect green lighten-1 btn">Agregar</a>
              </div>
            </div>
          </form>
          <br><br>
          </div>
        </div>
      </div>
      <div id="event3" class="col s12 m12 indigo lighten-4">
        <div class="row">
          <br>
          <div class="col offset-s1 s10 offset-m1 m10 z-depth-1 white">
            <form id="formTeam" name="formTeam" action="{{ urlFor('add-team-post') }}">
              <div class="row">
                <br>
                <div class="col s10 offset-s1 m10 offset-m1">
                  <label>Eventos disponibles</label>
                  <select id="event_id_tea" name="event_id" class="browser-default">
                    <option value="0" selected>Selecciona una opcion ...</option>
                    {% for ev in events %}
                      <option value="{{ ev.id }}">{{ ev.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col s6 offset-s1 m6 offset-m1">
                  <label>Equipos disponibles</label>
                  <select id="team_id" name="team_id" class="browser-default">
                    <option value="" selected>Selecciona una opcion ...</option>
                    {% for te in teams %}
                      <option value="{{ te.id }}">{{ te.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              <div class="col s4 m4">
                <br>
                <a id="btnAddTeam" class="waves-effect green lighten-1 btn">Agregar</a>
              </div>
            </div>
            <div class="row">
                  <div class="col s8 m8 offset-s2 offset-m2">
                    <div class="collection">
                      <div id="listViewTeam"></div>
                    </div>
                  </div>
                </div>
           </form>
          <br><br>
          </div>
        </div>
      </div>
      <div id="event4" class="col s12 m12 indigo lighten-4">
        <div class="row">
          <br>
          <div class="col offset-s1 s10 offset-m1 m10 z-depth-1 white">
            <div class="row">
              <br>
              <div class="container">
                <div class="row">
                  <br>
                  <div class="col s10 offset-s1 m10 offset-m1">
                    <label>Eventos disponibles</label>
                    <select id="event_id_show" name="event_id_show" class="browser-default">
                      <option value="0" selected>Selecciona una opcion ...</option>
                      {% for ev in events %}
                        <option value="{{ ev.id }}">{{ ev.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col s8 m8 offset-s2 offset-m2">
                    <div class="collection">
                      <div id="listView"></div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ asset('DateTimePicker.js') }}"></script>
  <script>
    $(document).ready(function(){

      $("#dtBox").DateTimePicker({
          dateFormat: "dd-MMM-yyyy"
      });

      $('#btnCancelEvent').click(function(event) {
        $('#name').val("");
        $('#date').val("");
        $('#hour').val("");
        $('#description').val("");
      });

      $('#btnNewEvent').click(function(event) {
        var url = $('#formEvent').attr('action');
        var name = $('#name').val();
        var date = $('#date').val();
        var hour = $('#hour').val();
        if ((name == "" && date == "" && hour == "") || (name == "" || date == "" || hour == "")) {
          Materialize.toast('Datos incompletos!', 4000, 'rounded')
        } else {
          $.ajax({
              url: url,
              type: "POST",
              dataType: "json",
              data: $('#formEvent').serialize(),
              success: function(data) {
                if(data.status == 1){
                  Materialize.toast('Evento&nbsp;<span class="yellow-text">registrado!<span>', 4000, 'rounded')
                  $('#name').val("");
                  $('#date').val("");
                  $('#hour').val("");
                  $('#description').val("");
                } else if(data.status == 2){
                  Materialize.toast('Error del servidor!', 4000, 'rounded')
                }
              }
            })
        }
      });

      $('#btnAddActivity').click(function(event) {
        var url = $('#formActivity').attr('action');
        var event_id = $('#eventn_id_act > option:selected').val();
        var activity_id = $('#activity_id > option:selected').val();
        if ((event_id == "" && activity_id == "") || (event_id == "" || activity_id == "")) {
          Materialize.toast('Selecciona el evento y/ actividad!', 4000, 'rounded')
        } else {
          $.ajax({
              url: url,
              type: "POST",
              dataType: "json",
              data: $('#formActivity').serialize(),
              success: function(data) {
                if(data.status == 1){
                  Materialize.toast('Actividad agregada al&nbsp;<span class="yellow-text">evento!<span>', 4000, 'rounded')
                  $('#event_id_act').val($('#event_id_act > option:first').val());
                  $('#activity_id').val($('#activity_id > option:first').val());
                } else if(data.status == 2){
                  Materialize.toast('Error del servidor!', 4000, 'rounded')
                }
              }
            })
        }
      });

     $('#btnAddTeam').click(function(event) {
        var url = $('#formTeam').attr('action');
        var event_id = $('#eventn_id_tea > option:selected').val();
        var team_id = $('#team_id > option:selected').val();
        if ((event_id == "" && team_id == "") || (event_id == "" || team_id == "")) {
          Materialize.toast('Selecciona el evento y/ equipo!', 4000, 'rounded')
        } else {
          $.ajax({
              url: url,
              type: "POST",
              dataType: "json",
              data: $('#formTeam').serialize(),
              success: function(data) {
                if(data.status == 1){
                  Materialize.toast('Equipo agregado al&nbsp;<span class="yellow-text">evento!<span>', 4000, 'rounded')

                  var id = $('#event_id_tea > option:selected').val();
                  $.ajax({
                    url: "{{ urlFor('event_team') }}"+ id,
                    type: "GET",
                    dataType: "json",
                    data: "",
                    success: function(data) {
                      if(data.status == 200){
                        $('#listViewTeam').empty();
                        for (var i = data.teams.length - 1; i >= 0; i--) {
                          $('#listViewTeam').append('<a href="javascript:void(0);" class="collection-item avatar waves-effect waves-blue" data-id="'+data.teams[i].id+'"><i class="material-icons circle blue left">directions_walk</i> Equipo <br> <b>'+data.teams[i].name+'</b> </a>');
                        };
                    }
                  }
                  })

                  $('#team_id').val($('#team_id > option:first').val());
                } else if(data.status == 2){
                  Materialize.toast('Error del servidor!', 4000, 'rounded')
                }
              }
            })
        }
      });

    $('#event_id_show').change(function(event) {
      var id = $('#event_id_show > option:selected').val();
      $.ajax({
        url: "{{ urlFor('event_id') }}"+ id,
        type: "GET",
        dataType: "json",
        data: "",
        success: function(data) {
          if(data.status == 200){
            $('#listView').empty();
            for (var i = data.activities.length - 1; i >= 0; i--) {
              $('#listView').append('<a href="javascript:void(0);" class="collection-item avatar waves-effect waves-blue" data-id="'+data.activities[i].id+'"><i class="material-icons circle blue left">directions_walk</i> Actividad <b>'+data.activities[i].name+'</b> <br> Estaci칩n <b>'+data.activities[i].station+'</b> </a>');
            };
            var id = $('#event_id_show > option:selected').val();
            $('#listView').append('<a href="{{ urlFor('map') }}'+id+'" class="waves-effect green lighten-1 btn-large col m12 s12">Visualizar mapa</a>')
          } else if(data.status == 400){
             $('#listView').empty();
            Materialize.toast('Seleccione un evento', 4000, 'rounded')
          }
        }
      })
    });

    $('#event_id_tea').change(function(event) {
      var id = $('#event_id_tea > option:selected').val();
      $.ajax({
        url: "{{ urlFor('event_team') }}"+ id,
        type: "GET",
        dataType: "json",
        data: "",
        success: function(data) {
          if(data.status == 200){
            $('#listViewTeam').empty();
            for (var i = data.teams.length - 1; i >= 0; i--) {
              $('#listViewTeam').append('<a href="javascript:void(0);" class="collection-item avatar waves-effect waves-blue" data-id="'+data.teams[i].id+'"><i class="material-icons circle blue left">directions_walk</i> Equipo <br> <b>'+data.teams[i].name+'</b> </a>');
            };
          } else if(data.status == 400){
             $('#listViewTeam').empty();
            Materialize.toast('Seleccione un evento', 4000, 'rounded')
          }
        }
      })
    });


  });
  </script>
{% endblock %}
