<br>
<div class="col s12 m12 z-depth-0 white">
  <h3 class="header center">Catálogo <small>de preguntas y acertijos</small></h3>

  <div class="modal fade" id="delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Eliminar tipo incidente</h3>
        </div>
        <div class="modal-body">
          <p>
            ¿Estas seguro que deseas eliminar el tipo de incidente <b id="tipo"></b>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-outline" data-dismiss="modal">
            <i class="fa fa-times-circle"></i> Cancelar
          </button>
          <a href="{{ urlFor('home') }}" class="btn btn-danger" id="delete-button">
            <i class="fa fa-trash"></i> Eliminar
          </a>
        </div>
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div><!-- .modal -->
  <div id="toolbar" class="btn-group">
    <button type="button" class="waves-effect waves-light btn" id="btnAddQuestion">Nueva pregunta/acertijo</button>
    {#<button type="button" class="btn btn-default">
      <i class="glyphicon glyphicon-heart"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="glyphicon glyphicon-trash"></i>
    </button>#}
  </div><br>
  <div class="table-responsive">
    <table id="statusTbl" class="hoverable" {#data-toggle="table" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-search="true" data-toolbar="#toolbar"#}>
    {#data-toggle="table"
      data-striped="true"
      data-sort-name="number"
      data-show-columns="true"
      data-search="true"
      data-show-refresh="true"
      data-show-export="true"
      data-show-pagination-switch="true"
      data-pagination="true"
      data-page-list="[10, 25, 50, 100, ALL]"
      data-show-footer="true"#}
      <thead>
        <th class="col m1 text-center" data-field="number" data-sortable="true">#</th>
        <th class="col m5 text-center" data-field="message" data-sortable="true">Pregunta</th>
        <th class="col m2 text-center" data-field="answer" data-sortable="true">Respuesta</th>
        <th class="col m2 text-center" data-field="track" data-sortable="false">Pista</th>
        <th class="col m2 text-center">Opciones</th>
      </thead>
      <tbody>
       {% for qu in questions %}
        <tr>
          <td class="col m1 text-center">{{ qu.id }}</td>
          <td class="col m5 text-center">{{ qu.message }}</td>
          <td class="col m2 text-center">{{ qu.answer }}</td>
          <td class="col m2 text-center">{{ qu.track }}</td>
          <td class="col m2 text-center">
            <div class="btn-group" role="group">
              <button class="btn-floating blue" title="Editar" data-toggle="modal" data-target="#new" data-id="{{ qu.id }}" data-name="{{ qu.name }}" data-descr="{{ qu.descr }}" data-icon="{{ qu.icon }}"><i class="material-icons">create</i></button>
              <button class="btn-floating red" title="Eliminar" data-toggle="modal" data-target="#delete" data-id="{{ qu.id }}" data-name="{{ qu.name }}"><i class="material-icons">delete</i></button>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div><br>
</div>
<div id="newQuestion" class="modal modal-fixed-footer white z-depth-1">
  <div class="modal-content">
    <form id="formNewQuestion" action="{{ urlFor('new-question-post') }}">
      <h4 class="modal-title">Pregunta o Acertijo</h4>
        <div class="row">
          <div class="input-field col offset-s1 s10 offset-m1 m10">
            <textarea id="message" name="message" class="materialize-textarea"></textarea>
            <label for="message">Pregunta o acertijo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1 m10 offset-m1">
            <input id="answer" name="answer" type="text" class="validate">
            <label for="answer">Respuesta</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1 m10 offset-m1">
            <input id="track" name="track" type="text" class="validate">
            <label for="track">Pista</label>
          </div>
        </div>
        {{ f.hide('id', 0) }}
        {{ f.hide('update','false') }}
    </form>
  </div>
  <div class="modal-footer">
    <a id="btnDeleteQuestion" href="javascript:void(0);" class="modal-action modal-close waves-effect btn red lighten-1">Cancelar</a>
    <a id="btnNewQuestion" href="javascript:void(0);" class="waves-effect btn green lighten-1">Guardar</a>
  </div>
</div>

<script>
/*$(document).ready(function() {

  $('#icon').change(function(event) {
    var icon = $('#icon option:selected').val();
    $('#img_icon').html('<i class="fa fa-'+icon+' fa-2x"></i>');
  });
});*/
</script>
